.footer-page {
	display: flex;
  width: 320px;
}

@media (max-width: 660px) {
  .footer-page {
    display: none;
  }
}
@media (min-width: 660px) {
  .footer-page {
    display: flex;
    justify-content: space-around;
    width: 660px;
  }
}

@media (min-width: 1200px) {
  .footer-page {
    display: flex;
    justify-content: space-around;
    width: 1200px;
  }
}

.footer__social-list {
	display: flex;
	list-style-type: none;
}

.footer__social-item {
	padding: 0 28px;
}
