.main-nav__list {
  margin: 0;
}

.main-nav__picture {
  width: 320px;
  height: 170px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: 660px) {
  .main-nav__picture {
    width: 660px;
    height: 329px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  .main-nav__picture {
    width: 1200px;
    height: 280px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.main-nav__page-title {
  margin: 0;
  padding-top: 33px;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}
