.page-main {
  position: relative;
}

.page-main__picture {
  position: relative;
  min-width: 320px;
  min-height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .page-main__picture {
    background-color: #283645;
    /*width: 660px;*/
    min-height: 623px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: @desktop-width) {
  .page-main__picture {
    background-color: #283645;
    /*width: 1200px;*/
    min-height: 721px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.page-main__picture::before {
  content: "";
  position: absolute;
  width: 319px;
  height: 286px;
  top: 176px;
  background-repeat: no-repeat;
  background-image: url("../img/iphone-hand-mobile@1x.png");
}

@media (min-width: @tablet-width) {
  .page-main__picture::before {
    content: "";
    position: absolute;
    width: 660px;
    right: 20px;
    top: 78px;
    min-height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .page-main__picture::before {
    content: "";
    position: absolute;
    min-width: 893px;
    min-height: 545px;
    left: 23%;
    top: 176px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
  }
}
