.photo__item {
  background-color: #f2f2f2;
  width: 281px;
}

.photo__list {
  position: relative;
}

.photo__autor-picture--best {
  position: absolute;
  width: 320px;
  height: 243px;
  background-image: url("../img/panorama-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__like {
  color: #d22856;
}

.photo__wrapper {
  width: 293px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.photo__title {
  padding-top: 52px;
  padding-bottom: 54px;
  font-size: 14px;
  color: #000000;
  line-height: 30px;
  text-align: center;
}
