.program__info {
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
}
.program {
  padding-top: 21px;
  background-color: #1d2631;
}
.program__list {
  display: flex;
  justify-content: space-around;
}
.program__item {
  padding-top: 25px;
  list-style-type: none;
}
.program__link--apple {
  background-image: url("../img/logo-apple.svg");
  width: 46px;
  height: 57px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.program__link--android {
  background-image: url("../img/logo-android.svg");
  width: 42px;
  height: 47px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.program__link--windows {
  background-image:url("../img/logo-microsoft.svg");
  width: 44px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
