.reviews__author-name {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  padding-left: 73px;
}
.reviews__text {
  font-size: 14px;
  color: #000000;
  line-height: 2.143;
  text-align: center;
}
.reviews__item {
  margin: 0;
  padding: 0;
}
.reviews__toggles {
  text-align: center;
}
