@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 320px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  background-color: #ffffff;
}

a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.button {
  display: block;
  width: 280px;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #1d2631;
  border-radius: 28px;
  border: 2px solid #ffffff;
}

.site-list {
  margin: 0;
  padding: 0;
}
.site-list__item {
  padding: 7px;
   list-style-type: none;
   border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}
