body {
  margin: 0;
  padding: 0;
  max-width: 320px;
  font-weight: normal;
  font-size: @bodyfonts;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  background-color: #ffffff;
}

a {
  display: block;
  color: @acolor;
  text-decoration: none;
}
